* {
  margin: 0;
}
header {
  /* position: relative; */
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  z-index: 100;
  text-align: center;
}
main {
  background-color: palegreen;
}
/* footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30px;
  background-color: black;
  color: white;
  z-index: 100;
} */

#swipe_area {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#swipe_area #number {
  position: absolute;
  top: 70vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

img {
  width: 90vw;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
}

.teppan {
  z-index: 1;
}

.kemuri1 {
  z-index: 100;
  animation: kemu1 9s infinite;
}

@keyframes kemu1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.kemuri2 {
  animation: kemu1 9s infinite;
}
.kemuri3 {
  animation: kemu1 9s infinite;
}

#okonomiyaki {
  z-index: 50;
}
.okonomiyaki {
  animation: puru 3s infinite;
}

@keyframes puru {
  0% {
    transform: translate(2px, 0px);
  }
  5% {
    transform: translate(-2px, 0px);
  }
  10% {
    transform: translate(2px, 0px);
  }
  15% {
    transform: translate(-2px, 0px);
  }
  20% {
    transform: translate(2px, 0px);
  }
  25% {
    transform: translate(-2px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
}

.okonomiyaki_up_level1 {
  animation: flow1 2s forwards;
}
@keyframes flow1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.okonomiyaki_up_level2 {
  animation: flow2 2s forwards;
}
@keyframes flow2 {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* 完璧 */
.okonomiyaki_up_level3 {
  animation: flow3 2s forwards;
  transition-property: display;
}

@keyframes flow3 {
  0% {
    transform: translateY(0px);
  }
  60% {
    opacity: 0;
  }
  75% {
    transform: rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

#uragaeshi {
  z-index: 50;
  opacity: 0;
}
.uragaeshi {
  animation: flow3_1 2s forwards;
}

@keyframes flow3_1 {
  0% {
    transform: translateY(0px);
  }
  60% {
    opacity: 1;
  }
  75% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.okonomiyaki_up_level4 {
  animation: flow4 2s forwards;
}

@keyframes flow4 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100vh);
  }
}
